<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>demo</title>
</head>
<body>
<p th:text="${msg}"></p>
<p>aaaaaaaa</p>
<p>aaaｇｄｆｇｄｆa</p>
<p>aaｆa</p>

</body>
</html>